<h1>Check out all the amazing courses that we had!</h1>

{{#if staff}} 
<a href="course/add">Add Course</a>
{{/if}}

{{#each courses}} 
<h2><a href="/course/{{_id}}">{{name}}</a></h2>
<p>{{description}}</p>

{{#if enrolled}}<div class="">You are a part of this class!</div>{{/if}}
{{#if ../staff}}
<p><a href="/course/edit?course_id={{_id}}" class="edit-button">Edit</a></p>
<form action="/course/delete" method="POST">
<input type="hidden" name="id" value="{{_id}}">
<button type="submit" class="edit-button-red">Delete</button></form>


{{!-- /<p><a href="/course/delete?course_id={{_id}}" class="edit-button-red">Delete</a></p> --}}
{{/if}}

{{/each}}