{{#with user}}
<form id="form" action="/profile/edit?user_id={{_id}}" method="POST">
  <label form="name">Name</label><br>
  <input type="text" name="name" value="{{name}}">

  {{!-- <label for="password">Password</label><br> --}}
  {{!-- <input type="password" name="password"> --}}

{{#if ../notBoss}}
  <label form="role">Role</label><br>
  <input type="text" name="role" value="{{role}}" disabled>
{{/if}}

{{#if ../staff}}
  
 <label for="role">Role Type</label><br>
  <select name='role'>
    <option value="BOSS">BOSS</option>
    <option value="DEVELOPER">DEVELOPER</option>
    <option value="TA">TA</option>
    <option value="STUDENT">STUDENT</option>
  </select>
  {{/if}}
  {{/with}}
  <button type="submit" class="edit-button-red">Edit</button>
  {{!-- <p><a href="/profile/edit?user_id={{_id}}" class="edit-button">Edit</a></p> --}}

  <br>

  {{!-- {{#if msgError}}
  <div class="error-message">{{ msgError }}</div>
  {{/if}} --}}

  {{!-- <button>Create account</button> --}}
</form>